asgiref==3.2.10
cssselect==1.1.0
dj-database-url==0.5.0
Django==3.0
django-classy-tags==2.0.0
django-cms==3.7.4
django-filer==2.0.2
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-sortable-column==0.2.2
django-treebeard==4.3.1
djangocms-admin-style==2.0.0
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-column==1.11.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-grid==1.3.0
djangocms-icon==2.0.0
djangocms-installer==1.2.3
djangocms-link==3.0.0
djangocms-oembed==0.5
djangocms-picture==3.0.0
djangocms-snippet==3.0.0
djangocms-style==3.0.0
djangocms-table==1.2
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
easy-thumbnails==2.7
html5lib==1.1
lxml==4.6.1
micawber==0.5.1
mysqlclient==2.0.1
Pillow==8.0.0
pyquery==1.4.1
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
tzlocal==2.1
Unidecode==1.1.1
webencodings==0.5.1
