
    <div class="row justify-content-center pt-3 pt-md-4">
      <div class="col-12 col-xl-11">
    <table width="480" border="1" cellpadding="2">
        <tr>
            <td><img  height="160px" width="160px" src="{{ image.url }}" alt="{{ name }}"></td>
            <td><img  height="160px" width="160px" src="{{ image.url }}" alt="{{ name }}"></td>
            <td><img  height="160px" width="160px" src="{{ image.url }}" alt="{{ name }}"></td>
        </tr>
    </table>
        <h1 class="ds_elem name">{{ name }}</h1>
    <h3><h1 class="ds_elem name">{{ price }}</h1></h3>
    <p class="ds_elem desc">
        {{ description }}
        <a class="more_link" href="{{ url }}">More...</a>
    </p>
      </div>
      </div>